<%- include('../partials/header') -%>

<p> <%= id %></p>

<% let rounds = users[0].rounds %>

<% let s = scene[0].scene %>

<div id="memes" class="game-screen">
    <div class="header"> <!--flex-->
        <div class="game-logo">
            What do you MEME?
        </div>
        <div class="quit-button">
            <button>Quit Game</button>
        </div>
    </div>
        <form class="response-area" action="/room/<%= id %>/topmemes" method="POST">
            <div class="scenario">
                <div class="scenario-header">
                    SCENARIO
                </div>
                <input class="scenario-text-input" type="text" name="scene" value="<%= s %>">
            </div>

            <div class="memes">
                <div class="memes-header">
                    MEMES
                </div>
                <div class="memes-memes">
                    <% memes.forEach(m => { %>
                        <div class="meme-checkbox-set">
                            <label for="memeImg"> <img class="meme-img" id="memeImg" src="<%=m.image%>" alt="meme"> </label><br>
                            <input class="checkbox" type="checkbox" id="memeImg" name="memeImg" value="<%=m.image%>">
                        </div>
                    <% }); %> 
                </div>
            </div>

            <input class="submit-button" type="submit" value="Submit">
        </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
