<%- include('../partials/header') -%>

<h1>Top memes will go here</h1>

<p><%= topMemes[0].sc %></p>

<% topMemes.forEach(m => { %>
    <img id="memeImg" src="<%=m.img%>" alt="meme">
<% }); %>

<!-- <a href="/room/<%=id%>/play"> Play Again</a> -->

<form action="/room/<%=id%>/playAgain" method="GET">
    <button id="playAgain">Play Again</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
