<%- include('../partials/header') -%>

<div class=top-page>
<div class=top-header>Relatable Memes for the Scenario</div>

<p><%= topMemes[0].sc %></p>
<div class=top-memes>
<% topMemes.forEach(m => { %>
    <img class="top-img" id="memeImg" src="<%=m.img%>" alt="meme">
<% }); %>
</div>
<!-- <a href="/room/<%=id%>/play"> Play Again</a> -->

<form action="/room/<%=id%>/playAgain" method="GET">
    <button class="next-button" id="playAgain">Next Round</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</div>
</body>
</html>
